<h1>Update Trip:<%=@trip.username%></h1>

<form action="/trips/<%=@trip.id%>" method="post">
  <input type="hidden" name="_method" value="patch">  
  <label>name:</label>
 
  <br>
 
  <input type="text" name="trip[name]" id="trip_name" value="<%=@trip.name%>">
 
  <br>
 
  <label>Start date:</label>
 
  <br>
 
  <input type="date" name="trip[start_date]" id="start_date" value="<%=@trip.start_date%>">
 
  <br>

  <label>End date:</label>

  <br>

  <input type="date" name="trip[end_date]" id="end_date" value="<%=@trip.end_date%>">
 
  <br>

  <fieldset >
     <label>Select country</label>
     <select name = "trip[country_id]" id = "myList">
     <%countries = []%>
     <%Country.all.sort.each_with_index do |c, index|%>
      <%if !countries.include?(c.name)%>
      <option value =<%=c.id%>><%=c.name%></option>
      <%countries << c.name%>
      <%end%>
      <%end%>
     </select>
</fieldset>

<br>

<label>Description:</label>

<br>

<input type="string" name="trip[description]">

<br>

  <input type="submit" value="Update trip">
</form>