<h1>@trip.name</h1>

<label>Start date: <%=@trip.start_date%></label>
<label>End date: <%=@trip.start_date%></label>
<label>Country: <%=@country.name%></label>
<label>start date: <%=@trip.start_date%></label>
<label>Description: <%=@trip.description%></label>