<h1><%=@trip.name%></h1>

<label>Start date: <%=@trip.start_date%></label>

<br>

<label>End date: <%=@trip.start_date%></label>

<br>

<label>Country: <%=Country.find(@trip.country_id).name%></label>

<br>

<label>start date: <%=@trip.start_date%></label>

<br>

<label>Description: <%=@trip.description%></label>