<h1><%=@trip.name%></h1>

<label>Start date: <%=@trip.start_date%></label>

<br>

<label>End date: <%=@trip.end_date%></label>

<br>

<label>Country: <%=Country.find(@trip.country_id).name%></label>

<br>

<label>Description: <%=@trip.description%></label>

<br>

<a href="/trips/<%=@trip.id%>/edit">Edit trip</a>

<form action="/trips/<%=@trip.id%>" method="post">
  <input type="hidden" name="_method" value="delete">  
  <input type="submit" value="delete trip">
</form>