<head>
<title>My account</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<style>
.trip {
    border: 2px solid #000;
    text-align: center;
  }
</style>
</head>

<body>

<h1>Welcome <%=@user.username%>!!</h1>

<%if !current_user.trips.empty?%>
<h2>Here's a list with your trips</h2>
<%current_user.trips.each do |t|%>
  <div class="trip">
<h3><a href="/trips/<%=t.id%>"><%=t.name%></a></h3>
<p>Start date:<%=t.start_date%></p>
<p>End date:<%=t.end_date%></p>
<p>Description:<%=t.description%></p>
</div>
<%end%>
<%else%>
<h2>You haven't added any trips yet</h2>
<a href="/trips/new">Create a new trip</a>
<%end%>

<br>

<%favourite_countries = current_user.countries.select do |c|%>
<%c.favourite_countries == true%>
<%end%>
<%if !favourite_countries.empty?%>
<h3>Here's a list with your favourite countries</h3>
<%favourite_countries.each do |c|%>
  <div class="country">
  <%=c.name%>
  </div>
<%end%> 
<%end%>

<br>

<%visited_countries = current_user.countries.select do |c|%>
  <%c.visited_countries == true%>
  <%end%>
  <%if !visited_countries.empty?%>
  <h3>A list with all the countries you have been to so far!</h3>
  <%visited_countries.each do |c|%>
    <div class="country">
    <%=c.name%>
    </div>
  <%end%> 
  <%end%>

  
<br>

<%bucket_list = current_user.countries.select do |c|%>
  <%c.bucket_list == true%>
  <%end%>
  <%if !bucket_list.empty?%>
  <h3>These are all the countries on your bucket list!</h3>
  <%bucket_list.each do |c|%>
    <div class="country">
    <%=c.name%>
    </div>
  <%end%> 
  <%end%>

<br>

<a href="/logout">Log Out</a>

<br>

<form action="/users/<%=@user.id%>" method="post">
  <input type="hidden" name="_method" value="delete">  
  <input type="submit" value="delete account">
</form>

</body>