<h1>Welcome <%=@user.username%>!!</h1>

<%if !current_user.trips.empty?%>
<h2>Here's a list with your trips</h2>
<%current_user.trips.each do |t|%>
  <div>
<h3><a href="/trips/<%=t.id%>"><%=t.name%></a></h3>
<p>Start date:<%=t.start_date%></p>
<p>End date:<%=t.end_date%></p>
<p>Description:<%=t.description%></p>
</div>
<%end%>
<%else%>
<h2>You haven't added any trips yet</h2>
<a href="/trips/new">Create a new trip</a>
<%end%>

<br>

<a href="/logout">Log Out</a>

<br>

<form action="/users/<%=@user.id%>" method="post">
  <input type="hidden" name="_method" value="delete">  
  <input type="submit" value="delete account">
</form>